.sticky-icon{
    position: sticky;
    top: 85px;
    left: 0px;
    background-color: white;
    z-index: 5;
}
.Icon-container{
    display: flex;
    flex-direction: row;
    margin: 10px 40px;
    /* position: fixed;
    top: 80px;
    left: 0px;
    width: 100%; */
    justify-content: flex-start;
    z-index: 5;
    gap: 50px;
    overflow-y: hidden;
    overflow-x: scroll;
    background-color: white;

}
.Icon-container > div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0px;
    border-bottom: 2px solid white;
    height: 48px;
    opacity: 0.6;
    font-weight: 700;
}
.Icon-container > div:hover{
    border-bottom: solid rgb(217, 215, 215) 2px;
    opacity: 1;
    transition: all 0.3s;
}
.Icon-container .active{
    opacity: 1;
    border-bottom: solid black 2px;

}
.Icon-container .active:hover{
    opacity: 1;
    border-bottom: solid black 2px;
}
.Icon-container > div > img{
    height: 24px;
    width: 24px;
}
.Icon-container > div > p{
    font-size: 12px;
    width: auto;
    white-space: nowrap;
}
.Icon-container::-webkit-scrollbar {
    display: none;
}
   
