.ff{
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;

}
.header{
    
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    

}
.header--logo{
    display: flex;
    height: 35px;
    padding: 15px;
}
