.Search-Tray{
    display:flex;
    flex-direction: row;
    border: 1px solid #cac7c7;
    border-radius: 5rem;
    padding: 8px 15px;
    margin: 10px 00px;
    box-shadow: 0px 2px 4px #dedede;
    cursor: pointer;
    

}
.Search-Tray:hover{
    box-shadow: 0px 2px 4px #c0bfbf;
    transition: all 0.3s;
}
.catchers{
    padding:  0px 10px ;
    background-color: white;
    border: none;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}
.catchers:nth-child(2){
    border-left: 1.5px solid rgb(210, 210, 210);
    border-right: 1.5px solid rgb(210, 210, 210);
}
.catchers:nth-child(3){
    display: flex;
    flex-direction: row;
    align-items: center;

}
.searchIcon{
    padding: 5px;
    margin-left: 10px;
    border-radius: 50%;
    border: 1px #ff385c solid;
    background-color: #ff385c;
    color: white;
}